@import '../../../../styles/colors.scss';


.adminPanel{
  margin-top: 120px;
  h2{
    color:$secondary;
    display: flex;
    justify-content: center;
 
 
  }
}
.buttonsAdminPanel{
  width: 500px;
  margin: 10px auto 0;  
  display: flex;  
  justify-content: space-around;
 
}
.modifyPricesButton {
  background-color: #4CAF50;  
  color: white;             
  padding: 10px 20px;       
  border: none;           
  border-radius: 5px;     
  font-size: 16px;            
  cursor: pointer;            
  transition: background-color 0.3s ease; 
  
  &:hover {
    background-color: #45a049;  
  }

  &:active {
    background-color: #388e3c;  
  }

  &:focus {
    outline: none;           
  }
}

.reservasTable {
   
    width: 90%;
    border-collapse: collapse;
margin: 50px auto;
    color: $secondary;
  
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }
  
    th {
      background-color: #f2f2f2;
    }
  
    tr:hover {
      background-color: #f1f1f1;
    }
  }
  

  .label {
    font-size: 16px;
    font-weight: 500;
    color: #333; // Color neutro y moderno
    display: block;
    margin-bottom: 8px;
  }
  
 
  .downloadButton {
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #4a90e2; // Color de fondo moderno
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
 
  
    &:hover {
      background-color: darken(#4a90e2, 10%); // Cambia a un tono más oscuro
      transform: scale(1.05); // Efecto de aumento al hacer hover
    }
  
    &:focus {
      outline: none;
      box-shadow: 0 0 5px rgba(74, 144, 226, 0.4); // Sombra de color al hacer focus
    }
  }
  .select {
    width: 15%;  
    padding: 10px;
    margin-left: 100px;
    font-size: 16px;
    color: #333;
    background-color: #f4f4f9; 
    border: 1px solid #ccc;
    border-radius: 8px;
     transition: border-color 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    
 
  
 
 
    &::after {
      content: "▼"; /* Agrega una flecha como ícono */
      font-size: 12px;
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      pointer-events: none; /* Evita que interfiera con el clic */
      color: #555;
    }
  }
  .modalInput {
    margin-bottom: 8px; 
}


@media (max-width: 795px) {
  .reservasTable {
    display: block;
    width: 100%;
    overflow-x: auto; // Habilita scroll horizontal
    -webkit-overflow-scrolling: touch; // Soporte para dispositivos iOS
  }
  .buttonsAdminPanel{
   width: 70%;
    margin: 10px auto 0;  
    display: flex;  
    justify-content: space-around;
    flex-direction: column;
   Button{
    margin-top: 10px;
   }
  }
  .label {
    font-size: 16px;
    font-weight: 500;
    color: #333; // Color neutro y moderno
    display: block;
    margin-bottom: 8px;
  }
  
  .downloadButton {
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #4a90e2; // Color de fondo moderno
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
  
    &:hover {
      background-color: darken(#4a90e2, 10%); // Cambia a un tono más oscuro
      transform: scale(1.05); // Efecto de aumento al hacer hover
    }
  
    &:focus {
      outline: none;
      box-shadow: 0 0 5px rgba(74, 144, 226, 0.4); // Sombra de color al hacer focus
    }
  }
  
  .select {
    width: 50%;  
    padding: 10px;
    margin-left: 100px;
    font-size: 16px;
    color: #333;
    background-color: #f4f4f9; 
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    position: relative;
  
    &::after {
      content: "▼"; /* Agrega una flecha como ícono */
      font-size: 12px;
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      pointer-events: none; /* Evita que interfiera con el clic */
      color: #555;
    }
  }
  
  .modalInput {
    margin-bottom: 8px; 
  }
}