@import "../../../../../styles/colors.scss";
@import "../../../../../styles/mediaQueries.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  scroll-margin-top: 55px;
  color: $secondary;
  background-color: $primary;
  margin-top: 40px;
  padding: 40px 0;

  .subtitle {
    margin-top: 10px;
    @include mobile-only {
      width: 300px;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 1000px;

    .text {
      text-align: justify;
      width: 800px;

      @include mobile-only {
        width: 300px;
      }
    }

    .promoText {
      font-size: 18px;

      @include mobile-only {
        width: 300px;
      }
    }
  }
}