@import '../../../styles/colors.scss';
@import '../../../styles/mediaQueries.scss';

.topNavigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  background-color: $primary;
  box-sizing: border-box;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-height: 75px;
  border-radius: 0 0 12px 12px;

  .leftSection {
    display: flex;
    align-items: center;

    .logoButton {
      margin-right: 1rem;
    }

    .siteTitle {
      font-family: 'LibreBaskerville', serif;
      font-size: 1.5rem;
      font-weight: 700;
      color: $black;
    }
  }

  .navButtons {
    display: flex;
    justify-content: flex-end;
  width: 90%;

    @include mobile-and-tablet-only {
      display: none;
    }

    .navButton {
      color: $black;
      text-transform: capitalize;
      margin-right: 14px;
      

      .navButtonText {
        font-family: 'Nunito Bold', sans-serif;
        font-size: 1rem;
        font-weight: 700;
      }
    }

    .navButton:hover {
      color: $secondary;
    }
  }

  .hamburgerMenu {
    display: none;

    @include mobile-and-tablet-only {
      display: block;
    }

    .dropdownMenu {
      position: absolute;
      top: 0;
      display: flex;
      flex-direction: column;
      top: 4.5rem;
      right: 1rem;
      background-color: $white;
      padding: 1rem;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 12px;

      button {
      text-transform: capitalize;
      margin-bottom: 0.5rem;
      }
    }
  }
}

@include tablet-or-wider {
  .hamburgerMenu {
    display: none;
  }

  .navButtons {
    display: flex;
  }
}