@import "../../../../../styles/colors.scss";
@import "../../../../../styles/mediaQueries.scss";

.aboutMe {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    scroll-margin-top: 95px;
    color: $secondary;
    padding: 40px 0 10px 0;

    .content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      margin-top: 10px;
      max-width: 1000px;

      @include mobile-only {
        justify-content: center;
        max-width: 300px;
      }

      .text {
        margin-right: 40px;
        text-align: justify;
        width: 500px;

        @include mobile-only {
          margin-right: 0;
        }
      }

      .img {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border-radius: 15px;
        height: 460px;
        background-color: $primary;

        @include mobile-only {
          height: 360px;
        }

        .profileImage {
          @include mobile-only {
            width: 300px;
            height: 300px;
          }
        }

        .name {
          font-family: 'Nunito Bold';
          margin-top: 15px;
        }
      }
    }
  }
}