@import '../../../../../styles/colors.scss';

.calendarContainer {
  max-width: 800px;
  margin: 120px auto 0 auto;
  text-align: center;
  padding: 30px;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  background-color: #f9f9f9;  // Softer background
  color: #333;

  h2 {
    color: $secondary;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .customCalendar {
    width: 100%;  
    max-width: 800px; // Increased the max width of the calendar
    margin: 20px auto 0 auto;
    padding: 15px;
    background-color: #ffffff;
    border: none;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    
  }

  .react-calendar {
    border: none;
    &__tile {
      border-radius: 8px;
      padding: 15px;
      font-weight: 500;
      color: #555;
      transition: all 0.3s ease;

      &:hover {
        background-color: #e8f1fd;
        color: $primary;
        box-shadow: 0 0 8px rgba(0, 112, 243, 0.2);
      }

      &--active {
        background-color: $primary;
        color: #ffffff;
        border-radius: 8px;
      }

      &--disabled {
        background-color: #f0f0f0;
        color: #ccc;
      }
    }

    &__month-view__weekdays {
      abbr {
        text-decoration: none;
        font-size: 14px;
        color: #555;
      }
    }
  }

  .occupiedDate {
    background-color: rgba(255, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    border-radius: 8px;
    position: relative;
  }
}

.infoContainer {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 25px;
  margin-top: 30px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

  .formGroup {
    margin-top: 20px;
    display: flex;
    align-items: center;
   justify-content: center;
    label {
      font-size: 18px;
      color: $secondary;
      font-weight: 700;
      margin-right: 50px;
    }

    select {
      padding: 10px;
      border-radius: 8px;
      border: 1px solid $secondary;
      background-color: #f7f9fc;
      color: #333;
      transition: border-color 0.3s;

      &:focus {
        border-color: $primary;
      }
    }
  }

  .dateInfo {
    font-size: 18px;
    color: $secondary;
    font-weight: 500;
    margin-bottom: -10px;
    text-align: left; 
  }
  
  .priceInfo {
    margin-top: 15px;

 
  }

  .nextButton {
    margin-top: 20px;
    padding: 12px 25px;
    background-color: $primary;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: darken($success, 10%);
    }
  }
}

.cleaningFee, .depositFee, .stayPrice {
  font-size: 1.1rem; 
 margin-bottom: -10px;
  color: #333;  
 
 
}
.totalPrice, .reservePrice{
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: -15px;
}
 
.typographyContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
}
