// SuccessPage.module.scss

.successPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #333;
    height: 70vh;

    h1 {
        font-size: 2rem;
        color: #4caf50; // Color verde para el título
        margin-bottom: 10px;
    }

    p {
        font-size: 1.2rem;
        margin: 5px 0;

        strong {
            color: #333;
        }
    }

    .reservaData {
        margin-top: 20px;
        padding: 10px;
        border: 1px solid #4caf50;
        border-radius: 5px;
        background-color: #fff;
        width: 100%;
        max-width: 400px;

        p {
            margin: 5px 0;
            font-size: 1rem;
        }
    }
}
