.icon {
  display: inline-block;
  vertical-align: middle;
}

.xsmall {
  width: 16px;
  height: 16px;
}

.small {
  width: 24px;
  height: 24px;
}

.normal {
  width: 32px;
  height: 32px;
}

.large {
  width: 48px;
  height: 48px;
}
