@import '../../../styles/mediaQueries.scss';


/* Title */
.title {
  font-family: 'LibreBaskerville Bold';
  font-size: 2.5rem;
  line-height: 1.2;

  @include mobile-only {
    font-size: 32px;
  }
}

/* Headers */
.h1 {
  font-family: 'LibreBaskerville Bold';
  font-size: 2rem;
  line-height: 1.3;

  @include mobile-only {
    font-size: 30px;
  }
}

.h2 {
  font-family: 'LibreBaskerville Bold';
  font-size: 28px;
  line-height: 1.4;
}

.h3 {
  font-family: 'LibreBaskerville';
  font-size: 24px;
  line-height: 1.5;
}

.h4 {
  font-family: 'LibreBaskerville';
  font-size: 20px;
  line-height: 1.6;
}

.h5 {
  font-family: 'LibreBaskerville Italic';
  font-size: 18px;
  line-height: 1.7;
}

.h6 {
  font-family: 'LibreBaskerville Italic';
  font-size: 16px;
  line-height: 1.8;
}

/* Subtitles */
.subtitle {
  font-family: 'Nunito Italic';
  font-size: 2rem;
  line-height: 1.5;

  @include mobile-only {
    font-size: 26px;
  }
}

/* Normal text */
.normal {
  font-family: 'Nunito';
  font-size: 16px;
  line-height: 1.5;
}