@import '../styles/colors.scss';

// LibreBaskerville Font Families
@font-face {
  font-family: 'LibreBaskerville';
  src: url('/fonts/LibreBaskerville/LibreBaskerville-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LibreBaskerville Bold';
  src: url('/fonts/LibreBaskerville/LibreBaskerville-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'LibreBaskerville Italic';
  src: url('/fonts/LibreBaskerville/LibreBaskerville-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

// Nunito Font Families
@font-face {
  font-family: 'Nunito Black';
  src: url('/fonts/Nunito/Nunito-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Black Italic';
  src: url('/fonts/Nunito/Nunito-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito Bold';
  src: url('/fonts/Nunito/Nunito-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Bold Italic';
  src: url('/fonts/Nunito/Nunito-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito ExtraBold';
  src: url('/fonts/Nunito/Nunito-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito ExtraBold Italic';
  src: url('/fonts/Nunito/Nunito-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito ExtraLight';
  src: url('/fonts/Nunito/Nunito-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito ExtraLight Italic';
  src: url('/fonts/Nunito/Nunito-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito Italic';
  src: url('/fonts/Nunito/Nunito-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito Light';
  src: url('/fonts/Nunito/Nunito-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Light Italic';
  src: url('/fonts/Nunito/Nunito-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito Medium';
  src: url('/fonts/Nunito/Nunito-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Medium Italic';
  src: url('/fonts/Nunito/Nunito-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito/Nunito-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito SemiBold';
  src: url('/fonts/Nunito/Nunito-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito SemiBold Italic';
  src: url('/fonts/Nunito/Nunito-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: $antiflash;
  color: $antiflash;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
