.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
 
  & > *:not(:last-child) {
    flex-shrink: 0;
  }

  & > :last-child {
    margin-top: auto;
    flex-shrink: 0;
  }
}
 