@import "../../../../../styles/colors.scss";

.portafolioContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color: $antiflash;
  padding: 20px;
  width: 100%;
  scroll-margin-top: 75px;

  .portafolioTitle {
    width: 100%;
    text-align: center;
    color: $secondary;
  }

  .galeries {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin-top: 16px;

    .galery {
      width: 361px;
      flex-shrink: 0;
      border-radius: 12px;
      background-color: $secondary;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 10px;

      .galeryTitle {
        text-align: center;
        font-family: 'Lato Bold';
        color: $antiflash;
        font-size: 1.5rem;
        margin-bottom: 10px;
        margin-top: 16px;
      }

      .galeryImage {
        width: 100%;
        height: 200px;
        background-size: cover;
        background-position: center;
        border-radius: 12px 12px 0px 0px;
        object-fit: cover;
      }

      .galeryButton {
        width: fit-content;
        display: flex;
        justify-content: center;
        color: $secondary;
        margin-bottom: 16px;
        transition: background-color 300ms ease-in-out, transform 300ms ease-in-out;

        .buttonText {
          font-family: 'Lato Bold' !important;
        }

        &:hover {
          transition: background-color 300ms ease-in-out, transform 300ms ease-in-out;
          background-color: lighten($primary, 20%);
          transform: scale(1.1);
        }
      }
    }
  }
}