@import "../../../../../styles/colors.scss";

.contactMeContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  color: $secondary;
  background-color: $antiflash;
  width: 100%;
  scroll-margin-top: 65px;
}