@import "../../../../../styles/colors.scss";
@import "../../../../../styles/mediaQueries.scss";

.accomodationContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 40px;
  scroll-margin-top: 95px;

  .accomodationTitle {
    line-height: 1.2;
    color: $secondary;
    text-align: center;
    margin-bottom: 20px;
  }

  .accomodationSubtitle {
    color: $secondary;
    text-align: center;
    margin-bottom: 20px;
  }

  .accomodationText {
    width: 581px;
    color: $secondary;
    text-align: justify;
    margin-top: 20px;

    @include mobile-only {
      width: 300px;
    }
  }
}
.previajeText {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem; 
  line-height: 1.6;   
  color: #333; 
  text-align: center; 
  font-weight: 600; 
  padding: 20px; 
  max-width: 1000px; 
  margin: 20px auto; 
  text-transform: uppercase;
  letter-spacing: 1px;
 
}

.previajeText b {
  color: #ff6f61;
  font-weight: bold;
}

 

.slide {
  img {
    border-radius: 15px;
  }

  .image {
    @include mobile-only {
      width: 300px;
      height: 235px;
    }
  }
}

.carousel {
  max-height: 450px;
  max-width: 790px;
  overflow: hidden;

  @include mobile-only {
    width: 300px;
    max-width: 300px;
  }
}

.camera {
  display: flex;
  align-items: center;

  > div {
    transition: opacity 200ms ease-in-out !important;
  }
}

 

.buttonContainer {
  margin-top: 20px;
  display: flex;
  justify-content: center; 
 
}

.reserveButton {
  background-color: $primary;     
  color: #eeece8;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, background 0.3s ease;

  &:hover {
    transform: scale(1.1);  
 

    &::after {
      transform: scaleX(1);  
    }
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
  }
}

.imageContainer {
  display: flex;
  align-items: center;  
}

.imageContainer img {
  margin-right: 10px;  
}

.imageContainer img:last-child {
  margin-right: 0; 
}
