@import "../../../../../styles/colors.scss";
@import "../../../../../styles/mediaQueries.scss";

.accomodationContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 40px;
  scroll-margin-top: 95px;

  .accomodationTitle {
    line-height: 1.2;
    color: $secondary;
    text-align: center;
    margin-bottom: 20px;
  }

  .accomodationSubtitle {
    color: $secondary;
    text-align: center;
    margin-bottom: 20px;
  }

  .accomodationText {
    width: 581px;
    color: $secondary;
    text-align: justify;
    margin-top: 20px;

    @include mobile-only {
      width: 300px;
    }
  }
}

.slide {
  img {
    border-radius: 15px;
  }

  .image {
    @include mobile-only {
      width: 300px;
      height: 235px;
    }
  }
}

.carousel {
  max-height: 450px;
  max-width: 790px;
  overflow: hidden;

  @include mobile-only {
    width: 300px;
    max-width: 300px;
  }
}

.camera {
  display: flex;
  align-items: center;

  > div {
    transition: opacity 200ms ease-in-out !important;
  }
}